:root {
  --iris: #4d5ae5;
  --navyblue: #2e2f42;
  --slate: #434455;
}
.conteiner {
  width: 1158px;
}
body {
  font-family: 'Roboto', sans-serif;
  background-color: #ffffff;
  color: #434455;
}

/* logo */

.link {
  color: #4d5ae5;
  font-family: 'Raleway', sans-serif;
  letter-spacing: 0.03em;
  line-height: 1.17;
}

.link:hover {
}

.sidebar {
  height: 72px;
}

.list {
  list-style: none;
}
