:root {
  --iris: #4d5ae5;
  --navyblue: #2e2f42;
  --slate: #434455;
  --white: #fff;
  --cloud: #f4f4fd;
  --ocean: #404bbf;
}
.conteiner {
  width: 1158px;
}
.body {
  font-family: "Roboto", sans-serif;
  background-color: var(--white);
  color: var(--slate);
}

/* logo */

.menu_logo {
  color: var(--iris);
  font-family: "Raleway", sans-serif;
  letter-spacing: 0.03em;
  line-height: 1.17;
  font-weight: 800;
  font-size: 18px;
  text-transform: uppercase;
}

.logo {
  color: var(--navyblue);
}
.link {
  text-decoration: none;
}
.list {
  list-style: none;
}

.menu_logo:hover,
.menu_logo:focus {
  color: var(--ocean);
}

.sidebar_nav {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--navyblue);
}

.sidebar_nav:hover,
.sidebar_nav:focus {
  color: var(--ocean);
}

.address_menu_contakts {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}
.address {
  font-style: normal;
}

.address_menu_contakts:hover,
.address_menu_contakts:focus {
  color: var(--ocean);
}

/* tite_main */

.section_title_main {
  background-color: var(--navyblue);
}

.title_main {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--white);
}
.main_button {
  background-color: var(--iris);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white);
}
.main_button:hover,
.main_button:focus {
  cursor: pointer;
  background-color: var(--ocean);
}

/* skills */

.title_skills {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navyblue);
}

.skills_text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}

/* photo */

.title_main_photo {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--navyblue);
  text-transform: capitalize;
}

/* section_title_team */

.section_title_team {
  background-color: var(--cloud);
}

.title_team {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--navyblue);
  text-transform: capitalize;
}

/* footer */

.footer {
  background-color: #2e2f42;
}
